*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 40px;
    width: 100px;
    /* padding-right: 8px; */
}
.logo{
    background-image: url(Assets/amazon_logo.png);
    background-size: cover;
    height: 40px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/* Address  */

.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 5px;
}

/* search box */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 50vw;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.search-icon{
    width: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 3px solid #febd68;
}


/* sign in box */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* nav cart box  */

.nav-cart{
    display: flex;
    align-items: end;
    font-size: .85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}