@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Style */
button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #100e0f;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding: 15px 0;
}

li{
    display: inline;
    list-style: none;
}

li a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 5px;
}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/* Header section */

.header{
    background: url(img-coffee/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    /* Flex box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;

}

.main-heading{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
    /* margin-top: -70px; */
}

.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;

}

.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}

button:hover{
    background-color: #aa8349;
    transition: 0.5s ease-in ease-out;
}

/* our story */
#our-story{
    /* height: 100vh; */
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 400px;
    height: 400px;
    background: url(img-coffee/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
}

.title-style{
    display: flex;
    align-items: center;
}

.title{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    color: #fff;
    transform: translateX(-100px);
}

.line{
    height: 2px;
    width: 100px;
    background: #fff;
    transform: translateX(-120px);
}

.section-content p{
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}